@import "tailwindcss";

@import "@fontsource/be-vietnam-pro/400.css";
@import "@fontsource/be-vietnam-pro/700.css";
@import "@fontsource/be-vietnam-pro/900.css";

@theme {
  --font-vietnam: "Be Vietnam Pro", sans-serif;
}

html,
body,
#root {
  height: 100%;
  background-color: black;
  color: aliceblue;
}
